
<div class="books">
<div class="card mb-12">
  <div class="row g-0">
    <div class="col-md-2" style="max-width: 175px;">
      <img src="{{thumbnail}}" alt="Book Cover">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p>By: {{author}}</p>
        <p class="card-text">{{description}}</p>
        <a href="#" class="btn-no-style">check it out.</a>
      </div>
    </div>
  </div>
</div>
</div>