
<h1>Search by author</h1>

<div class="input-group rounded">
  <input type="search" class="form-control rounded" placeholder="Enter an author's name here..." aria-label="Search"
    aria-describedby="search-addon" />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</div>


<div class="books">
<div class="card mb-12">
  <div class="row g-0">
    <div class="col-md-2" style="max-width: 175px;">
      <img src="{{book.thumbnail}}" alt="Book Cover">
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{book.title}} The Book's Title</h5>
        <p>By: {{book.author}} Author</p>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis incidunt a exercitationem, eaque aperiam vel laborum eum quis ducimus illum iste consectetur rem dignissimos, maiores harum. Minus enim impedit odit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis incidunt a exercitationem, eaque aperiam vel laborum eum quis ducimus illum iste consectetur rem dignissimos, maiores harum. Minus enim impedit odit!</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
</div>


<script src="/js/search.js"></script>