<h5>welcome, {{serializedUser.name}}!</h5>
<div class="shelf">



  <article>
    <!--html code for the book images start here -->
    <!--the first row of books-->
    <div class="booksRowOne">
      <div class="book-container">
        <div class="bookImg">
          <img
            src="https://books.google.com/books/content?id=eaLjDeMV_WsC&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
        </div>
      </div>
      <div class="book-container">
        <div class="bookImg">
          <img
            src="https://books.google.com/books/content?id=9jA0BgAAQBAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
        </div>
      </div>
      <div class="book-container">
        <div class="bookImg">
          <img
            src="https://books.google.com/books/content?id=oFkbc7BbYN0C&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
        </div>
      </div>
      <div class="book-container">
        <div class="bookImg">
          <img
            src="https://books.google.com/books/content?id=u95ZvAEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
        </div>
      </div>
      <div class="book-container">
        <div class="bookImg">
          <img
            src="https://books.google.com/books/content?id=BZ2pPwAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
        </div>
      </div>
      <div class="book-container">
        <div class="bookImg">
          <img
            src="https://books.google.com/books/content?id=LgLT04F1KscC&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
        </div>
      </div>
      <div class="book-container">
        <div class="bookImg">
          <img
            src="https://books.google.com/books/content?id=obMP1xBBhh8C&printsec=frontcover&img=1&zoom=1&source=gbs_api" />
        </div>
      </div>
    </div>

    <img src="/images/shelfishelf.png">

    <!--html code for the book images end here -->
  </article>

  <script src="/js/search.js"></script>
</div>