

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin:0;
}

header {
    height: auto;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    background-color:#166D39;
    padding:2%;
}

header img {
    height:90px;
}

header h1 {
    font-family: Quicksand;
    font-size: 40px;
    color:white;
    text-transform:lowercase;
    
}

nav {
    color:white;
    font-family: Quicksand;
    font-size: 18px;
}
 
nav a {
    font-family: Quicksand;
    font-size: 16px;
    font-weight:600;
    color:white;
    text-transform:uppercase;
    text-decoration:none;
    padding-left:15px;
    padding-right:15px;
    letter-spacing:1px;
}





#bg-video {
    position:fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;  
  }


.bg-overlay {
    min-width:100%;
    min-height:100%;
    background: rgb(0, 0, 0);
    opacity: 0.9;
    position:absolute;
}

  .hero-content {
    position: relative;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    top:100px;

  }

  .hero-content img {
    height: 130px;
}


.form-container {
    width:390px;
    border-radius: 10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:auto;
    text-transform:lowercase;
    font-family: quicksand;
    margin-top:10px;
    font-weight:800;
    letter-spacing:1px;
    font-size:18px;

}

.form-container button {
    display:block;
    background-color:#166D39;
    border: 0;
    text-transform:uppercase;
    font-family: quicksand;
    font-weight: 800;
    margin-bottom:30px;
    letter-spacing:1px;
    float:right;

}

.form-input { 
    display:block;
    width:100%;
    border:0;
    border-radius: 6px;
    padding:5px;
    font-style: italic;
}

.form-group {
    margin:10px;
}